<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Welcome to CISCO Artificial Intelligence !!

  </h1>

  <img class="chatbot" src="../assets/images/bot_msg.jpg">
  <img class="chatbot" src="../assets/images/cisco.png">



<h2>
    <div class="space"> </div>
  <div [style.color]="'green'" >
          <a md-raised-button onclick=""> Cisco A.I Chat Bot. </a>

  </div>


</h2>

  <p>Here you can find solutions to your all network related issues.
  From basic router reset to complex switch settings.
  </p>


<p> <img class="chatbot1" src="../assets/images/image_1_59303162039e1.png"> </p>

</div>
